
<div class="container" style="min-width: 100% !important;">
    <div class="row">
      <div class="col-md-12 text-center" style="    padding-right: 0;
      padding-left: 0;">
  
  <nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <a class="navbar-brand optionsColour" routerLink="./home">Home</a>
    
    <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> -->
    
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link optionsColour" routerLink="./student" tabindex="-1" >Student</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link optionsColour" routerLink="./employee-list" routerLinkActive="active">Employee <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link optionsColour" routerLink="./forms">Forms</a>
              </li>
              <li class="nav-item">
                <a class="nav-link optionsColour" routerLink="./interactions">Interactions</a>
              </li>
              <!-- <li class="nav-item dropdown"> -->
                <!-- <a class="nav-link dropdown-toggle optionsColour" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Dropdown
                </a> -->
                <!-- <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Something else here</a>
                </div> -->
              <!-- </li> -->
              <li class="nav-item">
                <a class="nav-link optionsColour" routerLink="./counter" tabindex="-1" >Counter</a>
              </li>
              <li class="nav-item">
                <a class="nav-link optionsColour" routerLink="./about" tabindex="-1" >About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link optionsColour" routerLink="./rxjs" tabindex="-1" >Rxjs</a>
              </li>
              <li class="nav-item">
                <a class="nav-link optionsColour" routerLink="./lifeCycleHooks" tabindex="-1" >Hooks</a>
              </li>

            </ul>
            <form class="form-inline my-2 my-lg-0">
              <input (input)="searchEvent($event.target)" class="form-control mr-sm-2 " type="search" placeholder="Search"  aria-label="Search">
              <button class="btn btn-outline-success my-2 my-sm-0 optionsColour" type="submit">Search</button>
            </form>
          </div>
        </nav>
  <!-- <app-students [searchVariable]="searchVariable"></app-students> -->
        <router-outlet></router-outlet>
        <!-- <app-counter></app-counter> -->
      </div>
    </div>
  </div>